<!-- <div class="alert alert-success">
  <p>Bonjour à tous ! Je suis MisterProg@ en pleine programmation avec Angular !<i class="fa fa-align-center"></i></p>
</div>
<div [hidden]="show" [style.background-color]="bgcolor">
  Binding {{ bgcolor}}
</div>

<button (click)="changeStatus()" class="btn btn-danger">Allumer/Eteindre</button>

<app-color></app-color>

<app-cv></app-cv>

<app-style [backColor]="'green'" [color]="'white'"></app-style>

<app-class></app-class> <app-cv></app-cv> -->

<app-header></app-header>

<router-outlet></router-outlet>
